[submodule "vendor/sdl3"]
	path = vendor/sdl3
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "vendor/sdl3-image"]
	path = vendor/sdl3-image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "vendor/sdl3-mixer"]
	path = vendor/sdl3-mixer
	url = https://github.com/libsdl-org/SDL_mixer
